.container {
    margin: auto;
    display: block;
}

.main {
    background: url("../assets/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 870px;
}

