.main {
    margin: auto;
    
    display: "flex";
}

.diamond {
    padding-top: 8rem;
    margin-top: 4rem;
    background-image: radial-gradient(rgb(92, 90, 90), black);
    bottom: 150px;
    display: flex;
    float:"left";
    padding-left: 100px;
    position: relative;
    width: 1000px;
    height: 700px;
       
}

.map {
    padding-top: "2rem";
    justify-content: center;
    background-color: rgb(162, 162, 238);
}