.container {
    display: table;
    color: 'white';
    width: 100%;
    padding-bottom: 200px;
    font-family: 'Morris', sans-serif;
}

.container2 {
    display: table;
    color: 'white';
    width: 100%;
    padding-bottom: 100px;
    font-family: 'Morris', sans-serif;
}

.container3 {
    display: table;
    color: 'white';
    width: 100%;
    font-family: 'Morris', sans-serif;
}

.text {
    background-color: #EEEEEE;
    font-size: 20px;
    padding-right: 50px;
    border-radius: 40px;
}

@font-face {
    font-family: "Morris";
    src: url("../assets/fonts/MorrisRomanBlack.ttf") format("truetype");
}