.hub {
    margin-right: 10%;
}

.title {
    margin-left: 40rem;
}

.button {
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-transform: none;
    margin-left: 1rem;
}

.leading {
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-transform: none;
    margin-left: 50rem;
}

.leading:hover {
    font-weight: 900;
}

.button:hover {
    font-weight: 900;
}

@font-face {
    font-family: "Ghost";
    src: URL('../assets/fonts/Ghost_theory_1.ttf') format('truetype');
  }